* {
    margin:0;
    padding:0;
}

#box {
    width:100%;
    box-sizing:border-box;
    height:100px;
    background-color:gray;
}

#company_name {
    position:absolute;
    left:20px;
    top:20px;
    margin:10px;
}

#bodybox {
    padding:10px;
    margin-top:10px;
    text-align:center;
}

#box1, #box2, #box3 {
    margin:20px;
    padding:10px;
    width:90%;
    box-sizing:border-box;
    height:300px;
    background-color:gray;
    font-weight:500;
    overflow:auto;
}

#heading {
    text-align:center;
}

@media(min-width:768px) and (max-width:991px) {
    #mainbox {
        display:flex;
        flex-wrap:wrap;
    }
    
    #box1, #box2{
        width:44%;
    }
    
    #box3 {
        width:93%;
    }
}

@media(min-width:992px) {
    #mainbox {
        display:flex;
    }
    
    #box1, #box2, #box3 {
        width:30%;
    }
}